#slideCon {
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
#slides {
	position: absolute;
	// width: 100%;
	height: 420px;
}
.slide-li {
	width: 1920px;
	// overflow: hidden;
	height: 420px;
	a {
		display: inline-block;
		// width: 100%;
		height: 420px;
		position: relative;
	}
	img {
		// position: absolute;
		// left: 50%;
		// margin-left: -160px;
	}
}
.prev, .next {
	position: absolute;
	top: 50%;
	background-color: #f24645;
	width: 30px;
	height: 30px;
}
.prev {
	left: 30px;
}
.next {
	right: 30px;
}