#slideCon {
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
#slides {
	position: relative;
	height: 420px;
}
.slide-li {
	height: 420px;
	a {
		display: inline-block;
		height: 420px;
		position: relative;
	}
}
.buttons {
	position: absolute;
	// margin: -40px auto 0;
	bottom: 10px;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	li {
		display: inline-block;
		margin: 0 6px;
	}
	button {
		// display: block;
		background-color: transparent;
		box-sizing: border-box;
		border: 2px solid #fff;
		border-radius: 50%;
		width: 20px;
		height: 20px;
	}
}
.on {
	button {
		background-color: #fff;
	}
}
.prev, .next {
	position: absolute;
	top: 50%;
	background-color: #f24645;
	width: 30px;
	height: 30px;
}
.prev {
	left: 30px;
}
.next {
	right: 30px;
}